<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/create">Create Post</a></li>
      {{#if signedIn}}
        <li><a href="#" id="signout">Sign Out</a></li>
      {{else}}
        <li><a href="/signup">Sign Up/in</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
