<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Blog App</title>
  <!-- Add your stylesheets or other head content here -->
</head>

<body>
  {{> header}}

  {{{body}}}

  {{> footer}}
  <!-- Add your scripts or other body content here -->
</body>

</html>
