<!-- signup.handlebars -->
<section class="auth-section">
    <div class="signup-form-container">
        <h1>Sign Up</h1>
        <!-- Form for user registration -->
        <form id="signup-form" method="POST" class="signup-form">
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" name="username" required>
            
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" name="password" required>

            <button type="submit">Sign Up</button>
        </form>
    </div>

    <div class="signin-form-container">
        <h1>Sign In</h1>
        <!-- Form for user login -->
        <form id="signin-form" method="POST" class="signin-form">
            <label for="username-signin">Username:</label>
            <input type="text" id="username-signin" name="username" required>
            
            <label for="password-signin">Password:</label>
            <input type="password" id="password-signin" name="password" required>

            <button type="submit">Sign In</button>
        </form>
    </div>
</section>

<script src="/js/signup.js"></script>
